<h1><%= @title %></h1>
<%= form_for(:session, :url=>sessions_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email, :class=>"round" %>
	</div>
	<div class="field round">
		<%= f.label :password %><br />
		<%= f.password_field :password, :class=>"round" %>
	</div>
	
	<div class="actions">
		<%= f.submit "Log In" , :class=> "register-button round" %>
	</div>
<% end %>
<p>New user? <%= link_to "Register Now!", register_path %></p>	