<div class="main-reg-login round">
	<%= link_to "Login" ,login_path, :class => "round login-button" %>
	<br/><br/><br/>
	<%= link_to "Register", register_path, :class => "round reg-button" %>
</div>
	<h2><%= @title %></h2>
	
	<h3>Meaning</h3>
	<p>
	<strong>hamutuk</strong>: Timorese language (Tetun) - <i>meaning</i>: together <br /> </br />

	To develop the world, we must first invest in the development of it's people. If we do well, I hope others will follow
	</p>
	<h3>Our Goal</h3>
	
	<p>
		To change the world through education <br />
	</p>
	
	<h3>What we do</h3>
	
	<p>
		At <%= link_to "hamutuk.org", "/" %> we hope to inspire the young lives of so many children around the world, by providing information to the wider public, putting in their hands the power to effect a positive change in these young lives. <br />
		The way to do this is to select a school, individual or programme and donate an amount (large or small) to it. <br />
		We hope to include <%= link_to "Paypal", "http://www.paypal.com" %>, <%= link_to "Visa", "http://www.visa.com"%>, direct debit facilities and many other options/ways to donate to the education of the world. <br />
		<br />
		Anything is possible if we believe.
	</p>

