<h1><%= @title %></h1>
<%= form_for(@user) do |f| %>

<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
	<%= f.label :username, "Name" %> <br />
	<%= f.text_field :username, :class => "round" %>
</div>
<div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email, :class => "round" %>
</div>
<div class="field">
	<%= f.label :type_id, "Registration Type" %> <br />
	<%= render 'user_type' %>
</div>
<div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password, :class => "round" %>
</div>
<div class="field">
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, :class => "round" %>
</div>
<div class="actions">
	<%= f.submit "Register", :class => "register-button round" %>
</div>

<% end %>
