<!DOCTYPE html>

<html>
	</head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![end if]-->
		<%= render 'layouts/stylesheet' %>
		<!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie" %><![end if]-->
	</head>
	
	<body>
		<div class="container">
		<%= render 'layouts/header' %>	

			<%= yield %>
			
		<%= render 'layouts/footer' %>
		</div>
	</body>
</html>